.center{
    text-align: center;
}

@font-face {
    font-family: icons;
    src: url("DK Cool Crayon.ttf");
}

#board{
    margin: 0 auto;
    text-align: center;
    width: 85%;
}
#board td{
    font-size: 8em;
    font-family: icons;
    width: 33%;
}
#board, #board tr, #board td{
    border: solid 5px rgb(0, 81, 87);
}

#cover{
    height: 85%;
    width: 100%;
    padding-top: 125px;
    position: absolute;
    background-color: rgba(100, 180, 230, 0.3);
}

#cover h3{
    font-size: 5em;
    color: #1e6f82;
    text-shadow: 3px 3px #719ca6;
}

#chat{
    height: 80%;
    width: 100%;
    margin-top: 10px;
}

/*Bootstrap's sm breakpoint*/
@media screen and (max-width: 767px) {
    #chat{
        height: 20%;
    }
}