<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a  class="navbar-brand" href="/">Tic-Tac-Toe Online</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/waitingroom">Find Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" data-toggle="modal" data-target="#inviteModal">Invite a Friend</a>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inviteModalLabel">Invite a Friend</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" id="friendEmail"  class="form-control" placeholder="Enter Friend's Email"/>
                    <div class="input-group-append">
                        <input type="button" class="btn btn-primary" value="Send Invite" onclick="invite()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>